{% include "hms/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <title>Contact</title>
</head>
<body>
<main>
<div class="contact">
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one"> <a href="https://www.google.com/maps/place/Dharahara/@27.7115613,85.3228117,13.41z/data=!4m13!1m7!3m6!1s0x39eb198a307baabf:0xb5137c1bf18db1ea!2sKathmandu+44600!3b1!8m2!3d27.7172453!4d85.3239605!3m4!1s0x39eb1854939daef1:0xdccdbbf1c295134f!8m2!3d27.7006152!4d85.3119744"><p style="color:black;">Kathmandu,Nepal</p></div>
          
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic" style="color:black;">Phone</div>
          <div class="text-one"><a  href="tel: +977 9840866815" style="color:black;"> +977 9840866815</a></div>
          <div class="text-two"><a href="tel:+977 9845655782" style="color:black;">+977 9844655782</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one"> <a href="mailto: puzan1510@gmail.com" style="color:black;"> unknownhospital@gmail.com</a></div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p style="color:black;">If you have any Queries about our Hospital feel free to message us..</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        
        <div class="input-box message-box">
        	<input type="text" placeholder="Enter Your Message">
        </div>
        
        <div class="button">
          <input type="button" value="Send Now" >
        </div>
      </form>
    </div>
    </div>
  </div>
</div>
</main>
</body>
</html>
    